.u-section-1 {
    min-height: 731px;
    background-image: url("images/ggh.jpg");
    background-position: 50% 50%;
}

    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 1140px) / 2) + 1140px);
        margin: 0 0 0 auto;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 731px;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 60px 0 60px 35px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2;
        background-image: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: "PT Sans", sans-serif;
        margin: 0;
    }

    .u-section-1 .u-text-2 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: normal;
        font-weight: 700;
        font-family: "Roboto Condensed", sans-serif;
        margin: 19px 0 0;
    }

    .u-section-1 .u-text-3 {
        font-size: 1.25rem;
        font-style: italic;
        margin: 18px 49px 0 0;
    }

    .u-section-1 .u-btn-1 {
        background-image: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1rem;
        border-style: none;
        font-weight: 700;
        margin: 42px auto 0 0;
        padding: 10px 52px 10px 51px;
    }

    .u-section-1 .u-text-4 {
        margin: 61px auto 0 0;
    }

    .u-section-1 .u-btn-2 {
        border-style: none none solid;
        padding: 0;
    }

    .u-section-1 .u-image-1 {
        background-image: url("images/sony-15.png");
        background-position: 50% 50%;
        min-height: 31px;
    }
 
    .u-section-1 .u-container-layout-2 {
        padding: 30px;
    }

@media (max-width: 1199px) {
    .u-section-1 {
        min-height: 475px;
    }

        .u-section-1 .u-layout-wrap-1 {
            width: calc(((100% - 940px) / 2) + 940px);
        }

        .u-section-1 .u-layout-cell-1 {
            min-height: 603px;
        }

        .u-section-1 .u-text-3 {
            margin-right: 0;
        }

        .u-section-1 .u-image-1 {
            min-height: 603px;
        }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 334px;
    }

        .u-section-1 .u-layout-wrap-1 {
            width: calc(((100% - 720px) / 2) + 720px);
        }

        .u-section-1 .u-layout-cell-1 {
            min-height: 100px;
        }

        .u-section-1 .u-container-layout-1 {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }

        .u-section-1 .u-image-1 {
            min-height: 462px;
        }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 566px;
    }

        .u-section-1 .u-layout-wrap-1 {
            width: calc(((100% - 540px) / 2) + 540px);
        }

        .u-section-1 .u-container-layout-1 {
            padding-right: 105px;
            padding-left: 10px;
        }

        .u-section-1 .u-text-2 {
            font-size: 5.3125rem;
        }

        .u-section-1 .u-image-1 {
            min-height: 594px;
        }

        .u-section-1 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
        }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 346px;
    }

        .u-section-1 .u-layout-wrap-1 {
            width: calc(((100% - 340px) / 2) + 340px);
        }

        .u-section-1 .u-container-layout-1 {
            padding-right: 85px;
        }

        .u-section-1 .u-text-2 {
            font-size: 3rem;
        }

        .u-section-1 .u-image-1 {
            min-height: 374px;
        }
}

.u-section-2 {
    background-image: url("images/pexels-photo-459762.jpeg");
    background-position: 50% 50%;
}

    .u-section-2 .u-sheet-1 {
        min-height: 674px;
    }

    .u-section-2 .u-text-1 {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1;
        margin: 90px 717px 0 0;
    }

    .u-section-2 .u-btn-1 {
        background-image: none;
        border-style: none;
        font-weight: 700;
        margin: 30px auto 60px 0;
        padding: 10px 40px 10px 39px;
    }

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 556px;
    }

    .u-section-2 .u-text-1 {
        margin-right: 517px;
    }
}

@media (max-width: 991px) {
    .u-section-2 {
        background-position: 0% 0%;
        background-size: 120%;
    }

        .u-section-2 .u-sheet-1 {
            min-height: 426px;
        }

        .u-section-2 .u-text-1 {
            margin-right: 297px;
        }
}

@media (max-width: 767px) {
    .u-section-2 {
        background-size: auto 145%;
    }

        .u-section-2 .u-sheet-1 {
            min-height: 369px;
        }

        .u-section-2 .u-text-1 {
            margin-top: 60px;
            margin-right: 117px;
        }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 232px;
    }

    .u-section-2 .u-text-1 {
        font-size: 3rem;
        margin-top: 67px;
        margin-right: 0;
    }
}

.u-section-3 .u-sheet-1 {
    min-height: 719px;
    margin: 0 auto;
}

.u-section-3 .u-group-1 {
    width: 799px;
    min-height: 121px;
    margin: 59px auto 0;
}

.u-section-3 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
}

.u-section-3 .u-layout-wrap-1 {
    margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 496px;
}

.u-section-3 .u-image-1 {
    height: 350px;
    margin: 0 auto 45px 0;
}

.u-section-3 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 496px;
    background-image: none;
}

.u-section-3 .u-image-2 {
    height: 350px;
    margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
    margin: 45px 20px 43px;
}

.u-section-3 .u-layout-cell-3 {
    min-height: 496px;
    background-image: none;
}

.u-section-3 .u-image-3 {
    height: 350px;
    margin: 0 auto 45px 0;
}

.u-section-3 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
}

.u-section-3 .u-layout-cell-4 {
    min-height: 496px;
    background-image: none;
}

.u-section-3 .u-image-4 {
    height: 350px;
    margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
    margin: 45px 20px 43px;
}

@media (max-width: 1199px) {
    .u-section-3 .u-group-1 {
        width: 659px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }

    .u-section-3 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-image-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-2 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }

    .u-section-3 .u-image-2 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-3 {
        position: relative;
        margin-left: 16px;
        margin-right: 16px;
    }

    .u-section-3 .u-image-3 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-4 {
        margin-left: 16px;
        margin-right: 16px;
        position: relative;
    }

    .u-section-3 .u-image-4 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-text-5 {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1215px;
    }

    .u-section-3 .u-group-1 {
        width: 505px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-3 .u-text-2 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-3 .u-text-3 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-3 .u-text-4 {
        margin-left: 13px;
        margin-right: 13px;
    }

    .u-section-3 .u-text-5 {
        margin-left: 13px;
        margin-right: 13px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-group-1 {
        width: 473px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-3 .u-text-2 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-3 .u-text-3 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-3 .u-text-4 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-3 .u-text-5 {
        margin-left: 9px;
        margin-right: 9px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-group-1 {
        width: 340px;
    }

    .u-section-3 .u-text-1 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-3 .u-text-2 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-3 .u-text-3 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-3 .u-text-4 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .u-section-3 .u-text-5 {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.u-section-4 .u-sheet-1 {
    min-height: 806px;
}

.u-section-4 .u-text-1 {
    margin: 55px auto 0;
}

.u-section-4 .u-text-2 {
    font-style: italic;
    margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
    margin: 40px auto 55px 0;
}

.u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 559px;
    grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px;
}

.u-section-4 .u-image-1 {
    width: 160px;
    height: 124px;
    margin: 76px auto 0;
}

.u-section-4 .u-text-3 {
    text-transform: none;
    margin: 60px auto 0;
}

.u-section-4 .u-text-4 {
    font-weight: 700;
    margin: 12px auto 0;
}

.u-section-4 .u-text-5 {
    font-style: italic;
    margin: 23px 1px 0 0;
}

.u-section-4 .u-social-icons-1 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 138px;
    min-width: 94px;
    margin: 20px auto 0;
}

.u-section-4 .u-icon-1 {
    height: 100%;
}

.u-section-4 .u-icon-2 {
    height: 100%;
}

.u-section-4 .u-icon-3 {
    height: 100%;
}

.u-section-4 .u-icon-4 {
    height: 100%;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px;
}

.u-section-4 .u-image-2 {
    width: 160px;
    height: 124px;
    margin: 76px auto 0;
}

.u-section-4 .u-text-6 {
    text-transform: none;
    font-size: 1.5rem;
    margin: 60px auto 0;
}

.u-section-4 .u-text-7 {
    font-weight: 700;
    margin: 12px auto 0;
}

.u-section-4 .u-text-8 {
    font-style: italic;
    margin: 23px 1px 0 0;
}

.u-section-4 .u-social-icons-2 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 138px;
    min-width: 94px;
    margin: 20px auto 0;
}

.u-section-4 .u-icon-5 {
    height: 100%;
}

.u-section-4 .u-icon-6 {
    height: 100%;
}

.u-section-4 .u-icon-7 {
    height: 100%;
}

.u-section-4 .u-icon-8 {
    height: 100%;
}

.u-section-4 .u-container-layout-3 {
    padding: 30px;
}

.u-section-4 .u-image-3 {
    width: 160px;
    height: 124px;
    margin: 76px auto 0;
}

.u-section-4 .u-text-9 {
    text-transform: none;
    font-size: 1.5rem;
    margin: 60px auto 0;
}

.u-section-4 .u-text-10 {
    font-weight: 700;
    margin: 12px auto 0;
}

.u-section-4 .u-text-11 {
    font-style: italic;
    margin: 23px 1px 0 0;
}

.u-section-4 .u-social-icons-3 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 138px;
    min-width: 94px;
    margin: 20px auto 0;
}

.u-section-4 .u-icon-9 {
    height: 100%;
}

.u-section-4 .u-icon-10 {
    height: 100%;
}

.u-section-4 .u-icon-11 {
    height: 100%;
}

.u-section-4 .u-icon-12 {
    height: 100%;
}

@media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
        min-height: 708px;
    }

    .u-section-4 .u-list-1 {
        height: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-text-5 {
        margin-right: 0;
    }

    .u-section-4 .u-text-8 {
        margin-right: 0;
    }

    .u-section-4 .u-text-11 {
        margin-right: 0;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 1306px;
    }

    .u-section-4 .u-repeater-1 {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-repeater-1 {
        grid-template-columns: repeat(1, 100%);
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.u-section-5 {
    background-image: none;
}

    .u-section-5 .u-sheet-1 {
        min-height: 672px;
    }

    .u-section-5 .u-list-1 {
        grid-template-rows: auto;
        margin: 40px auto 40px 0;
    }

    .u-section-5 .u-repeater-1 {
        grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
        grid-gap: 10px 10px;
        min-height: 592px;
    }

    .u-section-5 .u-container-layout-1 {
        padding: 30px;
    }

    .u-section-5 .u-image-1 {
        height: 318px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-5 .u-text-1 {
        text-transform: none;
        margin: 20px 0 0;
    }

    .u-section-5 .u-text-2 {
        font-weight: 400;
        margin: 20px 0 0;
    }

    .u-section-5 .u-btn-1 {
        border-style: none;
        text-transform: uppercase;
        font-size: 0.875rem;
        background-image: none;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 20px auto 0;
    }

    .u-section-5 .u-container-layout-2 {
        padding: 30px;
    }

    .u-section-5 .u-image-2 {
        height: 318px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-5 .u-text-3 {
        text-transform: none;
        margin: 20px 0 0;
    }

    .u-section-5 .u-text-4 {
        font-weight: 400;
        margin: 20px 0 0;
    }

    .u-section-5 .u-btn-2 {
        border-style: none;
        text-transform: uppercase;
        font-size: 0.875rem;
        background-image: none;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 20px auto 0;
    }

    .u-section-5 .u-container-layout-3 {
        padding: 30px;
    }

    .u-section-5 .u-image-3 {
        height: 318px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-5 .u-text-5 {
        text-transform: none;
        margin: 20px 0 0;
    }

    .u-section-5 .u-text-6 {
        font-weight: 400;
        margin: 20px 0 0;
    }

    .u-section-5 .u-btn-3 {
        border-style: none;
        text-transform: uppercase;
        font-size: 0.875rem;
        background-image: none;
        font-weight: 700;
        letter-spacing: 1px;
        margin: 20px auto 0;
    }

@media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
        min-height: 568px;
    }

    .u-section-5 .u-list-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-5 .u-image-1 {
        height: 252px;
    }

    .u-section-5 .u-image-2 {
        height: 252px;
    }

    .u-section-5 .u-image-3 {
        height: 252px;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-repeater-1 {
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    }

    .u-section-5 .u-image-1 {
        height: 298px;
    }

    .u-section-5 .u-image-2 {
        height: 298px;
    }

    .u-section-5 .u-image-3 {
        height: 298px;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
        min-height: 1054px;
    }

    .u-section-5 .u-list-1 {
        height: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-5 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-image-1 {
        height: 517px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-image-2 {
        height: 517px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-image-3 {
        height: 517px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-5 .u-image-1 {
        height: 318px;
    }

    .u-section-5 .u-image-2 {
        height: 318px;
    }

    .u-section-5 .u-image-3 {
        height: 318px;
    }
}
