.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-form-1 {
  height: 402px;
  margin: 0 0 0 570px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 206px;
  min-width: 94px;
  margin: -54px 193px 0 auto;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(255, 69, 0) !important;
}

.u-section-1 .u-text-1 {
  margin: -457px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 358px;
  height: 358px;
  background-image: url("images/Untitled-2.png");
  background-position: 50% 50%;
  margin: 30px auto 60px 45px;
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}